#a1Container.ml1-container.ml-container
    h1.ml1
        span.text-wrapper
            span.line.line1
            span#a1DisplayText.letters
            span.line.line2

        

#a2Container.ml2-container.ml-container
    h1#a2DisplayText.ml2

#a3Container.ml3-container.ml-container
    h1#a3DisplayText.ml3

#a6Container.ml6-container.ml-container
    h1.ml6
        span.text-wrapper
            span#a6DisplayText.letters 

#a7Container.ml7-container.ml-container
    h1.ml7
        span.text-wrapper
            span#a7DisplayText.letters 

#a9Container.ml9-container.ml-container
    h1.ml9
        span.text-wrapper
            span#a9DisplayText.letters 

#a10Container.ml10-container.ml-container
    h1.ml10
        span.text-wrapper
            span#a10DisplayText.letters 

#a11Container.ml11-container.ml-container
    h1.ml11
        span.text-wrapper
            span.line.line1
            span#a11DisplayText.letters




link(rel='stylesheet', href='/stylesheets/style.css')
script(src='//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js')
script(src='/javascripts/animations.js')
